*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 105vh;
    background-image: url(./img/background.png);
}

.navbar{

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5vh;
    color: white;
    padding: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.navbar a:hover{
    background-color: #23A6F0;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav button{
    padding: 20px 5vh;
    font-size: 14px;
    background: #23A6F0;
    color: white;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
}
.nav-mobi{

   display: none; 
}
nav button:hover{

    background: cornflowerblue;
}
.k1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   gap: 25px;
}
.left{
    margin-top: 13%;
}
.left h1{
    font-size: 60px;
    color: white;
}
.left p{
    font-size: 25px;
    color: white;
    margin-top: 13%;
}
.left button{
    margin-top: 13%;
}
.btn01{
    padding: 13px 35px;
    border-radius: 30px;
    color: white;
    background: #23A6F0;
    border-style: none;
    cursor: pointer;
}
.btn01:hover{
    background: cornflowerblue;
}
.btn02{
     padding: 12px 35px;
    border-radius: 30px;
    color: white;
    background: #70707014;
    border-style: none;
    border: 1px solid white;
    cursor: pointer;
}
.btn02:hover{
    background: cornflowerblue;
}

.right{

    margin-top: 5%;
}
.card{
    background: white;
    padding: 40px 65px;
    border-style: none;
    border-radius: 10px;
    width: 50vh;
    height: 75vh;
    line-height: 2.5;
}
.card h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10%;
}
.card input {
    font-size: 16px;
    text-align: start;
    padding: 15px;
    width: 33vh;
    height: 5vh;
}
.card select{
    width: 33vh;
    height: 5vh;
}
.card button{
    margin-top: 15%;
   width: 33vh;
   height: 6vh;
   font-size: 16px;
   background: #23A6F0;
   border-radius: 8px;
   border-style: none;
   color: white;
   cursor: pointer;
}
.card button:hover{

    background: cornflowerblue;
}

@media (max-width: 768px) {
    .nav-mobi{
        background: white;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: space-evenly;
       align-items: center;
        gap: 5vh;
    }
    .eee{
       margin-top: -50vh;
    }
    .r-mobi-nav{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10vh;
        cursor: pointer;
    }
    .navbar{
        display: none;
    }
    nav button{
        display: none;
    }
    .knopki{
        text-align: center;
        margin-top: 10vh;
       font-size: 40px;
        flex-direction: column;
       position: absolute;
       
    }
    .knopki a{
        text-decoration: none;
        color: #777;
        line-height: 1.9;
    }
    
    .knopki a:hover{
        background: cornflowerblue;
    }
    .k1{
        flex-direction: column;
        margin-top: 25vh;
    }
    header{
        height: 300vh;
       background-size: 600px;
      background-position: center;
      background-repeat: no-repeat;
        background-image:url(./img/IMAGE\ 2026-06-11\ 03:57:13.jpg);
    }

    .left{
        text-align: center;
        flex-direction: column;
    }
    
}
.leading{
    margin-top: 10%;   
}
.text-l{
    text-align: center;
    line-height: 1.9;
}
.text-l h1{
    font-size: 55px;
}
.text-l p{
    font-size: 20px;
    color: #777;
}
.mobi-text{
    text-align: center;
    line-height: 1.5;
}
.mobi-text h1{
    font-size: 65px;
}
.mobi-text p{
    color: #777;
}
.kard{
    border-radius: 5px;
    border: 0.5px solid #23A6F0;
    width: 42.6vh;
    height: 55vh;
   
}
.kard a{
    color: #23A6F0;
    margin-left: 5vh;
}
.kard p{
    color: #777;
    line-height: 1.9;
    margin-left: 5vh;
}
.kard img{
    margin-bottom: 5vh;
}
.kardho{
    display: flex;
    justify-content: center;
    gap: 5vh;
    align-items: center;
    margin-top: 15vh;
}

.mobi-text{
    display: none;
}


@media (max-width: 768px) {

.kardho{
    flex-direction: column;
}
.text-l{
    display: none;
}
.mobi-text{
    display: block;
    flex-direction: column;
}
.leading{

    margin-top: -40vh;
}
    
}

.leading02{
    padding: 20px;
    margin-top: 10%;
    background: #FAFAFA;
   
}
.qards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 5vh;
}
.qard{
    border: 0.5px solid #777;
    width: 45vh;
    height: 36vh;
    line-height: 1.9;
   padding: 40px;
   background: white;
   border-radius: 8px;
}
.qard p{
    font-size: 18px;
    color: #777;
}

.text-ll{
    text-align: center;
    line-height: 1.9;
}
.text-ll h1{
    font-size: 55px;
}
.text-ll p{
    font-size: 20px;
    color: #777;
}

.text-lll{
display: none;
text-align: center;
line-height: 1.5;

}
.text-lll h1{
    font-size: 55px;
}
.text-lll p{
    font-size: 20px;
    color: #777;
}


@media (max-width: 768px) {

    .qards{
        flex-direction: column;
    }
    .text-lll{
        display: block;
        margin-top: 10vh;
    }
    .text-ll{
        display: none;
    }
    
}

.faq{
    padding: 40px;
    background: #FAFAFA;
}
.text-fff{

    text-align: center;
    line-height: 1.9;
}
.text-fff h1{
     margin-top: 25vh;
    font-size: 55px;
}
.text-fff p{
    font-size: 20px;
    color: #777;
    margin-bottom: 15vh;
}

.jards{

    display: flex;
    justify-content: center;
    gap: 5vh;
    align-items: center;
}
.jard{
    
    background: white;
    border-radius: 10px;
    width: 50vh;
    height: 20vh;
    padding: 20px;   
}
.jard h4{
    font-size: 18px;
    margin-left: 5vh;
    margin-top: -3vh;
}
.jard p{
    font-size: 18px;
    color: #777;
    margin-left: 5vh;
}

@media (max-width: 768px) {

    .text-fff{
        flex-direction: column;
    }
    .jards{
        flex-direction: column;
    }
}

.pricing{

 background: #FAFAFA;
 padding: 40px;

}
.text-ppp{

    text-align: center;
    line-height: 1.9;
}
.text-ppp h1{
     margin-top: 25vh;
    font-size: 55px;
}
.text-ppp p{
    font-size: 20px;
    color: #777;
    margin-bottom: 15vh;
}
.prpr{

    display: flex;
    justify-content: center;
    gap: 2vh;
   padding: 20px;
    
}
.kaka{

    border: 1px solid #23A6F0;
    width: 50vh;
    height: 100vh;
    padding: 40px;
    border-radius: 10px;
    
}
.kaka2{
    height: 110vh;
    margin-top: -5vh;
    background: #252B42;
    color: white;
}

.kaka h1{
    text-align: center;
}
.kaka p{
    text-align: center;
    color: #777;
    margin-top: 5vh;
}
.sena{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 5vh;
}
.sena span{
    color: #23A6F0;
    font-size: 50px;
    font-weight: bold;

}
.sir {
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;


}
.sir p{
    font-size: 20px;
    color: black;

}
.sir button{
    padding: 20px 15vh;
    font-size: 12px;
    color: white;
    background: #23A6F0;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
.sir button:hover{
    background: cornflowerblue;
}

@media (max-width: 768px) {

    .prpr{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15vh;
    }
    
}

.get{

    background: #252B42;
    padding: 40px;
}
.tyty{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
}
.l-tyty{
    color: white;
    line-height: 1.9;
}
.l-tyty h1{
    font-size: 50px;
}
.r-tyty input{
    width: 40vh;
    height: 8vh;
    font-size: 16px;
    padding: 20px;
}
.r-tyty button{
    padding: 21px;
    background: #23A6F0;
    border-style: none;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.r-tyty button:hover{
    background: cornflowerblue;
}

.mobi-t{
    display: none;
}

@media (max-width: 768px) {

    .l-tyty{
        display: none;
    }
    .mobi-t{
        display: flex;
        
        flex-direction: column;
    }
    .mobi-t h1{
        font-size: 50px;
        text-align: center;
        color: white;
    }
    .r-tyty{
        flex-direction: column;
    }
    .tyty{
        flex-direction: column;
    }
}